* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

main {
  background-color: #f5f5f5;
}

.header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
}
.header__logo img {
  width: 197px;
  height: 36px;
  margin-top: 10px;
}
.header__localisation {
  width: 100%;
  display: flex;
  font-weight: 700;
  background-color: #eaeaea;
}
.header__localisation .search_input {
  width: 100%;
  font-weight: 700;
  font-size: 1.5;
  color: black;
  font-family: Roboto, sans-serif;
  margin-left: 35px;
  border: 0px;
  background-color: #eaeaea;
}
.header__localisation i {
  width: 20%;
  height: 16px;
  padding-top: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .header__localisation {
    align-items: center;
    width: 100;
    padding-left: 37%;
    border: 1px solid red;
  }
}
.header_resto {
  width: 100%;
}
.header_resto .logo {
  width: 100%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header_resto .logo .material-symbols-outlined {
  position: absolute;
  left: 1em;
  margin-top: 0.9em;
}
.header_resto img {
  width: 197px;
  height: 36px;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 16em;
  border-radius: 15px 15px 0px 0px;
}

.resto_menus {
  width: 100%;
  position: relative;
  bottom: 3em;
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 40px 40px 0px 0px;
  border: 1px solid blue;
}
.resto_menus .btn:hover {
  transform: scale(1.15);
  opacity: 0.9;
  filter: brightness(1);
}
.resto_menus .title_content {
  width: 100%;
  height: 3em;
  margin-top: 3em;
}
.resto_menus .title_content h1 {
  font-family: shrikhand;
  margin-left: 1em;
  font-size: 1.8em;
}
.resto_menus .title_content .fa-regular {
  position: absolute;
  left: 14em;
  top: 3em;
}
.resto_menus .compo {
  width: 100%;
  padding-right: 2em;
  padding-top: 2em;
}
.resto_menus .compo .order {
  text-decoration-color: #99E2D0;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2em;
}
.resto_menus .compo span {
  padding-left: 1em;
}
.resto_menus .compo .composition {
  width: 100%;
  height: 4em;
  border-radius: 20px;
  display: block;
  gap: 1em;
  background-color: white;
  box-shadow: 2px 3px 2px gray;
  margin-left: 1em;
  font-family: roboto;
  margin-top: 1em;
  padding: 0.9em;
  margin-right: 1em;
  box-sizing: border-box;
  position: relative;
  transition-property: opacity;
  transition-duration: 2s;
}
.resto_menus .compo .composition .composition:active {
  opacity: 0;
}
.resto_menus .compo .composition .checkbox {
  display: block;
  width: 100%;
  height: 4em;
  position: relative;
  left: 11em;
  top: 0.5em;
  border-style: none;
  position: absolute;
  transition: all;
  opacity: 1;
  transition-property: opacity;
  cursor: pointer;
}
.resto_menus .compo .composition .checkbox:active {
  opacity: 1;
}
.resto_menus .compo .composition h2 {
  font-size: 1em;
  font-weight: 700;
  margin-left: 1em;
}
.resto_menus .compo .composition p {
  margin-left: 1em;
  font-size: 0.8em;
}
.resto_menus .compo .composition p .euro {
  font-weight: 700;
  align-content: end;
  float: inline-end;
}
.resto_menus .btn {
  width: 70%;
  height: 4em;
  border-radius: 25px;
  margin-left: 1em;
  margin-bottom: 3em;
  margin-top: 2.5em;
  box-shadow: 5px 5px 5px gray;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition-property: transform;
  transition-duration: 400ms;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .resto_menus {
    display: flex;
    width: 70%;
    margin-left: 13em;
    justify-content: center;
  }
}
.presentation {
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.presentation__title {
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  font-size: 1.3em;
}
.presentation p {
  font-size: 18px;
  font-family: roboto;
  font-weight: 300;
  text-align: center;
}
.presentation__button {
  width: 70%;
  height: 4em;
  border-radius: 25px;
  margin-left: 1em;
  margin-bottom: 3em;
  margin-top: 2.5em;
  box-shadow: 5px 5px 5px gray;
  border-style: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition-property: all;
  transition-duration: 450ms;
}
.presentation__button:hover {
  transform: scale(0.9);
  opacity: 0.8;
  filter: brightness(1);
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .presentation {
    width: 100%;
  }
  .presentation__button {
    width: 35%;
  }
}
.fonctionnements {
  padding-top: 2em;
  padding-right: 1em;
  padding-bottom: 2em;
  display: block;
}
.fonctionnements h1 {
  margin-left: 1em;
  padding-bottom: 2em;
}
.fonctionnements .propositions__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding-right: 1em;
  margin-bottom: 3em;
}
.fonctionnements .btn {
  width: 90%;
  height: 5em;
  border-radius: 2em;
  background-color: #F6F6F6;
  margin-left: 2em;
  box-shadow: 5px 5px 15px gainsboro;
  border-style: none;
  display: block;
}
.fonctionnements .number {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  position: absolute;
  left: 1em;
  background-color: #9356DC;
  color: #F6F6F6;
}

.fonctionnement {
  margin-left: 2em;
  margin-left: 2em;
}
.fonctionnement .fa-solid:hover {
  color: #9356DC;
}
.fonctionnement span {
  font-family: roboto;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 0.5em;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .fonctionnements h1 {
    margin-left: 5em;
  }
  .fonctionnements .propositions__content {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnements .btn {
    width: 20%;
  }
  .fonctionnements .btn .number {
    position: relative;
    left: -10em;
    margin-top: 1em;
  }
}
.menus {
  width: 100%;
  gap: 2.5em;
  background-color: #f5f5f5;
  padding-bottom: 4em;
}
.menus .menu {
  align-items: center;
  display: block;
}
.menus h1 {
  margin-left: 1em;
  padding-top: 2em;
}
.menus .menus_title {
  margin-bottom: 2em;
}
.menus .card {
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 0.4em;
}
.menus .card img {
  width: 22em;
  height: 16em;
  border-radius: 15px 15px 0px 0px;
}
.menus .card_info {
  width: 22em;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 3px 3px 7px gray;
  margin-left: 0.4em;
}
.menus .card_info .card_title {
  font-family: "roboto" sans-serif;
  font-weight: 700;
  padding-left: 1em;
}
.menus .card_info span {
  font-size: 1.4em;
  font-family: "roboto" sans-serif;
  padding-left: 1em;
}
.menus .card_info i {
  position: absolute;
}
.menus .card_info .heart {
  float: right;
  margin-right: 3em;
  border-style: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition-property: all;
  cursor: pointer;
}
.menus .card_info .heart .fa-solid {
  opacity: 0;
}
.menus .card_info .heart .fa-regular:active {
  opacity: 1;
}
.menus .card_info .heart .fa-solid:active {
  opacity: 1;
  background-image: none;
  color: hsl(289, 92%, 56%);
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .menus {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
  .menus h1 {
    margin-left: 5em;
  }
  .menus .restaurant_menu {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
  }
  .menus .menu .card {
    width: 100%;
  }
  .menus .menu .card img {
    width: 490px;
    height: 251px;
  }
  .menus .menu .card_info {
    width: 490px;
  }
}
.footer_content {
  background-color: black;
  width: 100%;
}
.footer_content_logo {
  filter: invert(100%);
  width: 8em;
  height: 2em;
  margin-left: 2em;
  margin-top: 2em;
}
.footer_content_info {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  margin-top: 1em;
  padding-bottom: 1.5em;
}
.footer_content_info img {
  height: 1em;
}
.footer_content_info span {
  color: white;
  font-family: roboto;
  font-size: 18px;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .footer_content {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer_content_logo {
    margin-right: 5em;
    padding-top: 6em;
  }
  .footer_content .footer_content_info {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8em;
    padding-left: 2em;
    gap: 2em;
  }
}
.footer_content {
  background-color: black;
  width: 100%;
}
.footer_content_logo {
  filter: invert(100%);
  width: 8em;
  height: 2em;
  margin-left: 2em;
  margin-top: 2em;
}
.footer_content_info {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  margin-top: 1em;
  padding-bottom: 1.5em;
}
.footer_content_info img {
  height: 1em;
}
.footer_content_info span {
  color: white;
  font-family: roboto;
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
