* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

main {
  background-color: #f5f5f5;
}

.chargement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: disappear 6s ease-in-out both;
}
.chargement img {
  width: 85%;
}
.chargement .loader {
  width: 100px;
  height: 100px;
  border-top: 3px solid #9356DC;
  border-bottom: 3px solid #FF79DA;
  border-right: 3px solid transparent;
  border-left: 3px solid #99E2D0;
  border-radius: 50%;
  margin: auto;
  z-index: 50;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: spin 3s linear infinite;
  animation-duration: 3s;
  transition-property: all;
}
.chargement .loader .loading {
  margin: auto;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    visibility: hidden;
  }
}
.header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
}
.header__logo img {
  width: 197px;
  height: 36px;
  margin-top: 10px;
}
.header__localisation {
  width: 100%;
  display: flex;
  font-weight: 700;
  background-color: #eaeaea;
}
.header__localisation .search_input {
  width: 100%;
  font-weight: 700;
  font-size: 1.5;
  color: black;
  font-family: Roboto, sans-serif;
  margin-left: 35px;
  border: 0px;
  background-color: #eaeaea;
}
.header__localisation i {
  width: 20%;
  height: 16px;
  padding-top: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .header__localisation {
    align-items: center;
    width: 100;
    padding-left: 37%;
  }
}
.header_resto {
  width: 100%;
}
.header_resto .logo {
  width: 100%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header_resto .logo .material-symbols-outlined {
  position: absolute;
  left: 1em;
  margin-top: 0.9em;
}
.header_resto img {
  width: 197px;
  height: 36px;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 17em;
  border-radius: 15px 15px 0px 0px;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}
main .card {
  width: 100%;
}
main .resto_menus {
  width: 100%;
  position: relative;
  bottom: 3em;
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  border-radius: 40px 40px 0px 0px;
}
main .resto_menus .title_content {
  width: 100%;
  height: 3em;
  margin-top: 3em;
}
main .resto_menus .title_content h1 {
  width: 100%;
  font-family: shrikhand;
  margin-left: 1em;
  font-size: 1.8em;
}
main .resto_menus .title_content i {
  position: absolute;
  top: 3em;
}
main .resto_menus .title_content .heart {
  float: right;
  right: 2em;
  margin-right: 3em;
  border-style: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition-property: all;
  cursor: pointer;
}
main .resto_menus .title_content .heart .fa-solid {
  opacity: 0;
}
main .resto_menus .title_content .heart .fa-regular:hover {
  opacity: 1;
}
main .resto_menus .title_content .heart .fa-solid:hover {
  opacity: 1;
  background-image: none;
  color: hwb(307 36% 25%);
}
main .resto_menus .compo {
  width: 100%;
  padding-right: 2em;
  padding-top: 2em;
  overflow: hidden;
}
main .resto_menus .compo .order {
  text-decoration: #99E2D0 underline 0.2em solid;
}
main .resto_menus .compo span {
  padding-left: 1em;
}
main .resto_menus .compo .composition {
  width: 100%;
  height: 5em;
  border-radius: 20px;
  display: block;
  gap: 1em;
  background-color: white;
  box-shadow: 2px 3px 2px gray;
  margin-left: 1em;
  font-family: roboto sans-serif;
  margin-top: 2em;
  padding: 1em;
  margin-right: 1em;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: padding-right 450ms ease-in-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .resto_menus .compo .composition h2 {
  width: 100%;
  font-size: 1.1em;
  font-weight: 700;
  margin-left: 0.5em;
}
main .resto_menus .compo .composition p {
  margin-left: 0.5em;
  font-size: 0.8em;
}
main .resto_menus .compo .composition i {
  color: #fff;
}
main .resto_menus .compo .composition .check {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 4em;
  height: 5.2em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  left: 16em;
  top: -51px;
  opacity: 0;
  padding: 0.1em;
  transition: transform 330ms ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform;
  transition-property: all;
  transition-duration: 450ms;
}
main .resto_menus .compo .composition .check:hover {
  opacity: 1;
  transform: translate(32px);
  overflow: hidden;
}
main .resto_menus .compo .composition .end_line {
  width: 100%;
  margin-left: 10px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-property: all;
  transition-duration: 450ms;
  transition: padding-right 450ms ease-in-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .resto_menus .compo .composition .euro {
  font-weight: 700;
  float: inline-end;
  transition: all;
  transition-property: all;
  transition-duration: 450ms;
  animation: fadein 3s ease-in-out;
  transition: width 3s;
  transition: padding-right 450ms ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .resto_menus .compo .composition:hover .end_line .euro {
  padding-right: 25px;
  transform: translate(-35px);
}
main .resto_menus .btn {
  width: 70%;
  height: 4em;
  border-radius: 25px;
  margin-left: 1em;
  margin-bottom: 3em;
  margin-top: 2.5em;
  box-shadow: 5px 5px 5px gray;
  border-style: none;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition-property: transform;
  transition-duration: 400ms;
}
main .resto_menus .btn:hover {
  transform: scale(1.15);
  opacity: 0.9;
  filter: brightness(1);
}

/***************Media Queries***************/
/* desktop ( more/equal than 1280px) */
@media (min-width: 1280px) {
  main {
    background-color: white;
  }
  main .resto_menus {
    display: flex;
    width: 70%;
    margin-left: 13em;
    justify-content: center;
    display: flex;
  }
  main .resto_menus .title_content {
    display: block;
    align-content: center;
  }
  main .resto_menus .title_content h1 {
    text-align: center;
  }
  main .resto_menus .title_content .heart {
    padding-right: 20em;
  }
  main .resto_menus .compo {
    width: 70%;
  }
  main .resto_menus .compo .composition {
    width: 90%;
  }
  main .resto_menus .compo .composition .check {
    position: relative;
    left: 30.5em;
  }
  main .resto_menus .btn {
    width: 30%;
  }
}
.presentation {
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.presentation__title {
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  font-size: 1.3em;
}
.presentation p {
  font-size: 18px;
  font-family: roboto;
  font-weight: 300;
  text-align: center;
}
.presentation__button {
  width: 70%;
  height: 4em;
  border-radius: 25px;
  margin-left: 1em;
  margin-bottom: 3em;
  margin-top: 2.5em;
  box-shadow: 5px 5px 5px gray;
  border-style: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  transition-property: all;
  transition-duration: 200ms;
}
.presentation__button:hover {
  transform: scale(1);
  opacity: 0.8;
  filter: brightness(1);
  box-shadow: 10px 10px 15px gray;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1280px) */
@media (min-width: 1280px) {
  .presentation {
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
  }
  .presentation__title {
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    font-size: 1.3em;
  }
  .presentation p {
    font-size: 18px;
    font-family: roboto;
    font-weight: 300;
    text-align: center;
  }
  .presentation__button {
    width: 70%;
    height: 4em;
    border-radius: 25px;
    margin-left: 1em;
    margin-bottom: 3em;
    margin-top: 2.5em;
    box-shadow: 5px 5px 5px gray;
    border-style: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: white;
    transition-property: all;
    transition-duration: 200ms;
  }
  .presentation__button:hover {
    transform: scale(1);
    opacity: 0.8;
    filter: brightness(1);
    box-shadow: 10px 10px 15px gray;
  }
}
.fonctionnements {
  padding-top: 2em;
  padding-right: 1em;
  padding-bottom: 2em;
  display: block;
}
.fonctionnements h1 {
  margin-left: 1em;
  padding-bottom: 2em;
}
.fonctionnements .propositions__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding-right: 1em;
  margin-bottom: 3em;
}
.fonctionnements .propositions__content .btn {
  width: 90%;
  height: 5em;
  border-radius: 2em;
  background-color: #F6F6F6;
  margin-left: 2em;
  box-shadow: 5px 5px 15px gainsboro;
  border-style: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition-property: all;
}
.fonctionnements .propositions__content .btn:hover {
  filter: brightness(1em);
  opacity: 0.7;
  box-shadow: 10px 10px 30px grey;
}
.fonctionnements .propositions__content .btn .number {
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  position: relative;
  right: 1em;
  top: 2em;
  background-color: #9356DC;
  color: #F6F6F6;
}
.fonctionnements .propositions__content .btn .fonctionnement {
  margin-left: 2em;
  margin-left: 2em;
  margin-top: 0.5em;
}
.fonctionnements .propositions__content .btn .fonctionnement .fa-solid:hover {
  color: #9356DC;
}
.fonctionnements .propositions__content .btn .fonctionnement span {
  font-family: roboto;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 0.5em;
}

/*************media queries**************/
/**meduim devise(tablette les/equal 1024***/
@media (min-width: 768px) and (max-width: 1024px) {
  .fonctionnements h1 {
    margin-left: 1em;
  }
  .fonctionnements .propositions__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fonctionnements .propositions__content .btn {
    width: 50%;
  }
  .fonctionnements .propositions__content .btn .number {
    position: relative;
    left: -1em;
    top: 2em;
  }
}
/***************Media Queries***************/
/* desktop ( more/dequal than 1280px) */
@media (min-width: 1280px) {
  .fonctionnements h1 {
    margin-left: 5em;
  }
  .fonctionnements .propositions__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnements .propositions__content .btn {
    width: 20em;
  }
  .fonctionnements .propositions__content .btn .number {
    position: relative;
    left: -1em;
    top: 2em;
  }
}
@media (max-width: 767.68px) {
  .menus {
    width: 100%;
    gap: 2.5em;
    background-color: #f5f5f5;
    padding-bottom: 6em;
    margin: auto;
  }
  .menus .menus_title {
    margin-bottom: 2em;
  }
  .menus h1 {
    padding-top: 1em;
  }
  .menus .menu {
    width: 100%;
    align-items: center;
    display: block;
  }
  .menus .menu .card {
    width: 100%;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 0.4em;
  }
  .menus .menu .card .text_nouveau {
    width: 4em;
    height: 1.3em;
    position: relative;
    right: -17em;
    bottom: -3em;
    background-color: #99E2D0;
    color: #008766;
  }
  .menus .menu .card img {
    width: 22em;
    height: 16em;
    border-radius: 15px, 15px, 0px, 0px;
  }
  .menus .menu .card_info {
    width: 22em;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 7px gray;
    margin-left: 0.4em;
  }
  .menus .menu .card_info .card_title {
    font-family: "roboto" sans-serif;
    font-weight: 700;
    padding-left: 1em;
  }
  .menus .menu .card_info span {
    font-size: 1.4em;
    font-family: "roboto" sans-serif;
    padding-left: 1em;
  }
  .menus .menu .card_info i {
    position: absolute;
  }
  .menus .menu .card_info .heart {
    float: right;
    margin-right: 3em;
    border-style: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition-property: all;
    cursor: pointer;
  }
  .menus .menu .card_info .heart .fa-solid {
    opacity: 0;
    color: hwb(307 36% 25%);
  }
  .menus .menu .card_info .heart .fa-regular:hover {
    opacity: 0;
  }
  .menus .menu .card_info .heart .fa-solid:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
/*************media queries**************/
/**meduim devise(tablette les/equal 1024***/
@media (min-width: 768px) and (max-width: 1024px) {
  .menus {
    border: 1px solid red;
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5em;
  }
  .menus h1 {
    margin-left: 1em;
  }
  .menus .restaurant_menu {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin: auto;
  }
  .menus .menu {
    border: 1px solid red;
    width: 100%;
    margin: auto;
    padding: 15px;
  }
  .menus .menu .card {
    width: 100%;
  }
  .menus .menu .card .text_nouveau {
    width: 4em;
    height: 1.3em;
    position: relative;
    right: -26em;
    bottom: -3em;
    background-color: #99E2D0;
    color: #008766;
  }
  .menus .menu .card img {
    width: 100%;
    height: 251px;
  }
  .menus .menu .card_info {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 7px gray;
  }
  .menus .menu .card_info .card_title {
    font-family: "roboto" sans-serif;
    font-weight: 700;
    padding-left: 1em;
  }
  .menus .menu .card_info span {
    font-size: 1.4em;
    font-family: "roboto" sans-serif;
    padding-left: 1em;
  }
  .menus .menu .card_info i {
    position: absolute;
  }
  .menus .menu .card_info .heart {
    float: right;
    margin-right: 3em;
    border-style: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition-property: all;
    cursor: pointer;
  }
  .menus .menu .card_info .heart .fa-solid {
    opacity: 0;
    color: hwb(307 36% 25%);
  }
  .menus .menu .card_info .heart .fa-regular:hover {
    opacity: 0;
  }
  .menus .menu .card_info .heart .fa-solid:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
/***************Media Queries***************/
/* desktop ( more/equal than 1280px) */
@media (min-width: 1280px) {
  .menus {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5em;
  }
  .menus h1 {
    margin-left: 5em;
  }
  .menus .restaurant_menu {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin: auto;
  }
  .menus .menu {
    margin: auto;
    padding: 15px;
  }
  .menus .menu .card {
    width: 100%;
  }
  .menus .menu .card .text_nouveau {
    width: 4em;
    height: 1.3em;
    position: relative;
    right: -26em;
    bottom: -3em;
    background-color: #99E2D0;
    color: #008766;
  }
  .menus .menu .card img {
    width: 490px;
    height: 251px;
  }
  .menus .menu .card_info {
    width: 490px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 7px gray;
  }
  .menus .menu .card_info .card_title {
    font-family: "roboto" sans-serif;
    font-weight: 700;
    padding-left: 1em;
  }
  .menus .menu .card_info span {
    font-size: 1.4em;
    font-family: "roboto" sans-serif;
    padding-left: 1em;
  }
  .menus .menu .card_info i {
    position: absolute;
  }
  .menus .menu .card_info .heart {
    float: right;
    margin-right: 3em;
    border-style: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition-property: all;
    cursor: pointer;
  }
  .menus .menu .card_info .heart .fa-solid {
    opacity: 0;
    color: hwb(307 36% 25%);
  }
  .menus .menu .card_info .heart .fa-regular:hover {
    opacity: 0;
  }
  .menus .menu .card_info .heart .fa-solid:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
footer .footer_content {
  background-color: black;
  width: 100%;
}
footer .footer_content_logo {
  filter: invert(100%);
  width: 8em;
  height: 2em;
  margin-left: 2em;
  margin-top: 2em;
}
footer .footer_content_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 1em;
  padding-bottom: 1.5em;
  gap: 1em;
}
footer .footer_content_info img {
  height: 1em;
}
footer .footer_content_info span {
  color: white;
  font-family: roboto;
  font-size: 18px;
}

/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1280px) {
  footer {
    width: 100%;
    position: relative;
    padding-bottom: 2em;
  }
  footer .footer_content {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5em;
  }
  footer .footer_content_logo {
    margin-right: 5em;
  }
  footer .footer_content .footer_content_info {
    display: block;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: 25em;
  }
}

/*# sourceMappingURL=main.css.map */
