.fonctionnements { 
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    display: block;
    
    

    h1 {
        margin-left: 1em;
        padding-bottom:  2em;
    }

    


    .propositions__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding-right: 1em;
        margin-bottom: 3em;

        
 
        
    
     .btn{
        width: 90%;
        height: 5em;
        border-radius: 2em;
        background-color: #F6F6F6;
        margin-left: 2em;
        box-shadow: 5px 5px 15px gainsboro;
        border-style: none;
        display: block;
        cursor: pointer;
        transition:  background-color 0.3s ease;
        transition-property: all;
    

        &:hover {
            filter: brightness(1em);
            opacity: 0.7;
            box-shadow:10px 10px 30px grey;
        

            }
    

        

         .number{
    
            border-radius: 50%;
            padding: 5px 10px 5px 10px;
            position: relative;
            right: 1em;
            top: 2em;
            background-color:#9356DC ; 
            color: #F6F6F6;
        }
    
     .fonctionnement {
        margin-left: 2em;
        margin-left:2em ;
        margin-top: 0.5em;
        

        

        .fa-solid:hover {
        color: #9356DC;
        }
        

                              
    span {
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 0.5em;
    }
    

    }
    

    }
    

    }




}




/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px){
    .fonctionnements{

        h1{
            margin-left: 5em;
    
        }
        
    
    .propositions__content{
    
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
     .btn{
        width: 20em;


        .number{
            position: relative;
            left: -1em;
            top: 2em;
        
        
        }
        

        }
    
    
    


    }
    

    }

}
