.fonctionnements { 
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    
    

    h1 {
        margin-left: 1em;
        padding-bottom:  2em;
    }

    


    .propositions__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding-right: 1em;
        margin-bottom: 3em;
        border: 1px solid red;
        
 }
        
    
    .btn{
        width: 90%;
        height: 5em;
        border-radius: 2em;
        background-color: #F6F6F6;
        margin-left: 2em;
        box-shadow: 5px 5px 15px gainsboro;
        border-style: none;
        
        
        }
        .number{
            border-radius: 50%;
            padding: 5px 10px 5px 10px;
            position: absolute;
            right: 23em;
        }
        .number:hover{
           background-color:#9356DC ; 
           color: #F6F6F6;
        }

    }







.fonctionnement {
        margin-left: 2em;

.fa-solid:hover {
    color: #9356DC;
    
}
        

                              
    span {
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 0.5em;
    }

}