    .footer_content { 
    background-color: black;
    width: 100%;


    &_logo {
        filter: invert(100%);
        width: 8em;
        height: 2em;
        margin-left: 2em;
        margin-top: 2em;

    }

    &_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-top: 1em;
        padding-bottom: 1.5em;
        gap: 1em;
    


        img {
            height: 1em;
        }

        span {
            color: white;
            font-family: roboto;
            font-size: 18px;

        }
    }

}
/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px){
 
 
    .footer_content{
    display: block;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5em;



    &_logo{
        margin-right: 5em;
    
        
    
        
    
    
    }

    .footer_content_info{
        display: block;
        display: flex;
        flex-direction: row;
        padding-top: 1em;
        padding-left: 25em;
        
        
    
    }
}


}

