.menus {
    gap: 2.5em;
    background-color: #f5f5f5;
    padding-bottom: 4em;
    

    h1{
        margin-left: 1em;
        padding-top: 2em;

    }
    

    .menus_title{
        margin-bottom: 2em;
    }

    img {
        width: 22em;
        height: 16em;
        border-radius: 15px 15px 0px 0px;
        padding-left: 0.3em; 
    }
    .menu .heart{
        float: right;
        margin-right: 1.5em;
        border-style: none;
    
    }
    



        .card {
            border-radius: 20px;
            margin-top: 15px;
        
            

            &_info .fa-regular {
               
            }

            .card_info{
                padding-left: 20px;
                background-color: #FFFFFF;
            }

            span {
                font-size: 1.4em;
                font-family: 'roboto' sans-serif;
                padding-left: 10px;


            }

            &_title {
                font-family: 'roboto' sans-serif;
                font-weight: 700;
                padding-left: 10px;
                


            }
        }

}