.menus {
    width: 100%;
    gap: 2.5em;
    background-color: #f5f5f5;
    padding-bottom: 6em;

    
    

    .menu{
        align-items: center;
        display: block;
    }

   
    

    h1{
        margin-left: 1em;
        padding-top: 2em;

    }
    

    .menus_title{
        margin-bottom: 2em;
    }

    
    

        .card {
            border-radius: 20px;
            margin-top: 15px;
            margin-left: 0.4em;

            .text_nouveau{
                width: 4em;
                height: 1.3em;
                position: relative;
                right: -12em;
                bottom: -3em;
                background-color:  #99E2D0;
                color: green;
                
            }
            

            img {
                width: 22em;
                height: 16em;
                border-radius: 15px 15px 0px 0px;
            }
            
        }
        .card_info{
            width: 22em;
            background-color: #FFFFFF;
            border-radius:0px 0px 15px 15px ;
            box-shadow: 3px 3px 7px gray;
            margin-left: 0.4em;
        

            .card_title {
                font-family: 'roboto' sans-serif;
                font-weight: 700;
                padding-left: 1em;   
            }

            span {
                font-size: 1.4em;
                font-family: 'roboto' sans-serif;
                padding-left: 1em;
            }
            i{
               position: absolute; 
            
            }
            .heart{
                float: right;
                margin-right: 3em;
                border-style: none;
                background-image: linear-gradient(#FF79DA,#9356DC);
                transition-property: all;
                 cursor: pointer;
                 
                
        .fa-solid{
            opacity: 0;
            
            
           
        }
              .fa-regular:hover{
                  opacity:1;
                  
                
                 }
        .fa-solid:hover{
            
            opacity: 1;
            background-image: none;
            color: hsl(289, 92%, 56%);
            
            
            
            
             }
    

        }
    

        }
    


}
/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px){

.menus{
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;

    

    h1{
        margin-left: 5em;
    }
    

    .restaurant_menu{  
        width: 100%;
    
     display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin: auto;

    

    
    }

.menu{

margin: auto;
padding: 15px;




    .card{

    width: 100%;

    img{
        width: 490px;
        height: 251px;
    
    }
    
    
}
.card_info{
    width: 490px;

    

}
}

}


}







