.presentation {
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #f5f5f5;

    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        margin: 1em;
        padding: 0.5em;
        font-size: 1.3em;
        

    }
    p{
       font-size: 18px; 
       font-family: roboto;
       font-weight: 300;
       text-align: center;
       
    }

    &__button {
        width: 70%;
        height: 4em;
        border-radius: 25px;
        margin-left: 1em;
        margin-bottom: 3em;
        margin-top: 2.5em;
        box-shadow: 5px 5px 5px gray;
        border-style: none;
        background-image: linear-gradient(#FF79DA,#9356DC);    
        color: white;
        transition-property: all;
        transition-duration: 450ms;
    }
    &__button:hover{
        transform: scale(0.9);
        opacity: 0.8;
        filter: brightness(1);
        
       
        
    }
        

    
}
/***************Media Queries***************/
/* desktop ( more/dequal than 1024px) */
@media (min-width: 1024px){
    .presentation {
        width: 100%;
    
    &__button{
        width: 35%;
    }
}


}
